<h1>Sign In</h1>
<div class="center">
  <%= form_tag("/sessions", method: "post") do %>
    <%= email_field_tag(:email) %>
    <div class="">
      <%= label_tag(:email, "Email") %>
    </div>
    <%= password_field_tag(:password) %>
    <div class="">
      <%= label_tag(:password, "Password") %>
    </div>
    <%= submit_tag "enter" %>
  <% end %>
</div>
