<h1>Edit Comment</h1>

<%= @post.title %>
<%= @post.user.fname %>
<%= @post.user.lname %>
<%= @post.content %>

<%= form_for [@post, @comment] do |form| %>
  <%= form.label :content, "Comment"%>
  <%= form.text_area :content %>
  <%= form.submit "edit" %>
<% end %>

<%= link_to("delete comment", post_comment_path(@comment), method: :delete)%>
