<h1>Sign Up</h1>

<div class="signupform">
  <%= form_for @user do |form| %>
  <%= form.email_field :email %>
  <div class="">
    <%= form.label :email, "Email" %>
  </div>
    <%= form.password_field :password %>
  <div class="">
    <%= form.label :password, "Password" %>
  </div>
  <%= form.text_field :fname %>
  <div class="">
    <%= form.label :fname, "First name" %>
  </div>
  <%= form.text_field :lname %>
  <div class="">
    <%= form.label :lname, "Last name" %>
  </div>
  <%= form.submit "enter" %>
  <% end %>
</div>
