<h1>
  <%= @user.fname.capitalize %>
  <%= @user.lname.capitalize %>
</h1>

<% if params[:id].to_i == session[:user_id] %>
  <% @posts.each do |post| %>
  <div class="">
    <%= post.title %>
    <%= post.content %>
    <div class="">
      <div class="">
        Comments:
      </div>
      <% post.comments.each do |comment| %>
      <%= comment.user.fname %>
      <%= comment.user.lname %>
      <%= comment.content %>
      <% end %>
    <%= link_to("comment", new_post_comment_path(post.id))%>
    </div>
    <%= link_to("edit post", edit_post_path(post.id))%>
  </div>
  <% end %>
<% else %>
  <% @posts.each do |post| %>
  <div class="">
    <%= post.title %>
    <%= post.content %>
    <div class="">
      <div class="">
        Comments:
      </div>
      <% post.comments.each do |comment| %>
      <%= comment.user.fname %>
      <%= comment.user.lname %>
      <%= comment.content %>
      <% end %>
      <%= link_to("comment", new_post_comment_path(post.id))%>
    </div>
  </div>
  <% end %>
<% end %>
