<h1>
  <%= @user.fname.capitalize %>
  <%= @user.lname.capitalize %>
</h1>

<% if params[:id].to_i == session[:user_id] %>
  <% @posts.each do |post| %>
  <div class="center">
    <div class="posttitle">
      <%= post.title %>
    </div>
    <div class="posttime">
      <%= post.created_at.strftime"%d %B %Y %I:%M %p" %>
    </div>
    <div class="postcontent">
      <%= post.content %>
    </div>
    <div class="">
    <%= link_to "edit post", edit_post_path(post.id), class: "linkbutt" %>
      <div class="comment">
        <%= post.comments.count %>
        Comments
      </div>
      <% post.comments.each do |comment| %>
        <%  if comment.user_id == session[:user_id] %>
          <div class="commentname">
            <%=link_to "#{comment.user.fname.capitalize} #{comment.user.lname.capitalize}", user_path(comment.user.id),
                class: "linktocommenter" %>
          </div>
          <div class="commenttime">
            <%= comment.created_at.strftime"%d %B %Y %I:%M %p" %>
          </div>
          <div class="commentcontent">
            <%= comment.content %>
          </div>
          <div class="">
            <%= link_to "edit comment", edit_post_comment_path(post.id, comment.id), class: "linkbutt" %>
          </div>
        <% else %>
          <div class="commentname">
          <%=link_to "#{comment.user.fname.capitalize} #{comment.user.lname.capitalize}", user_path(comment.user.id),
              class: "linktocommenter" %>
          </div>
          <div class="commenttime">
            <%= comment.created_at.strftime"%d %B %Y %I:%M %p" %>
          </div>
          <div class="commentcontent">
            <%= comment.content %>
          </div>
        <% end %>
      <% end %>
    <%= link_to "comment", new_post_comment_path(post.id), class: "linkbutt" %>
    </div>
  </div>
  <hr>
  <% end %>

<% else %>
  <% @posts.each do |post| %>
  <div class="center">
    <div class="posttitle">
      <%= post.title %>
    </div>
    <div class="posttime">
      <%= post.created_at.strftime"%d %B %Y %I:%M %p" %>
    </div>
    <div class="postcontent">
      <%= post.content %>
    </div>
    <div class="">
      <div class="comment">
        <%= post.comments.count %>
        Comments
      </div>
      <% post.comments.each do |comment| %>
      <%  if comment.user_id == session[:user_id] %>
      <div class="commentname">
        <%=link_to "#{comment.user.fname.capitalize} #{comment.user.lname.capitalize}", user_path(comment.user.id),
            class: "linktocommenter" %>
      </div>
      <div class="commenttime">
        <%= comment.created_at.strftime"%d %B %Y %I:%M %p" %>
      </div>
      <div class="commentcontent">
        <%= comment.content %>
      </div>
      <div class="">
        <%= link_to "edit comment", edit_post_comment_path(post.id, comment.id), class: "linkbutt" %>
      </div>
      <% else %>
        <div class="commentname">
          <%=link_to "#{comment.user.fname.capitalize} #{comment.user.lname.capitalize}", user_path(comment.user.id),
              class: "linktocommenter" %>
        </div>
        <div class="commenttime">
          <%= comment.created_at.strftime"%d %B %Y %I:%M %p" %>
        </div>
        <div class="commentcontent">
          <%= comment.content %>
        </div>
        <% end %>
      <% end %>
      <%= link_to "comment", new_post_comment_path(post.id), class: "linkbutt" %>
      <hr>
    </div>
  </div>
  <% end %>
<% end %>
