<h1>Edit Post</h1>

<div class="center">
  <%= form_for @post do |form| %>
  <div class="">
    <%= form.label :title, "Title" %>
  </div>
    <%= form.text_field :title %>
    <div class="">
      <%= form.label :content, "Content" %>
    </div>
    <%= form.text_area :content, cols: 50, rows: 15 %>
    <div class="">
      <%= form.submit "enter" %>
    </div>
  <% end %>
  <%= link_to "delete post", post_path(@post), method: :delete, class: "delete" %>
</div>
